/* app css stylesheet */
body {
	font-family: verdana, serif; 
	font-size: medium;
	position: relative;
	width: 1200px;
	margin: 0 auto;
}


#header {
		position: absolute;
		top: 15px;
		left: 360px;
		height: 40px;
		font-weight: bold;
		color: black;
		font-size: 1.2em;
		font-family: verdana, serif; 
		font-size: 1.2em;
}

#smedia {
	position: absolute;
	right: 115px;
	top: 20px;
}

.twitter-share-button {
float: left;
margin-left: 10px;
margin-right: 5px;
}

div#facebook {
float: left;
width: 60px;
}

#header :link {
	color: black;
	text-decoration:none;
	padding: 7px 7px;
}

#header :visited {
	color: black;
}

#header :hover {
	background: #323436;
	color: white;
}

/*.a {
	word-spacing: 30px;
}*/

#logo {
	position: absolute;
	top: 40px;
	left: 300px;
}

#tweet {
	position: absolute;
	top: 50px;
	right: 30px;
	
}


ul#controls {
	position: absolute;
	top: 250px;
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	margin-left: 380px;
	margin-right: 5px;
	padding:5px;
}


#bar {
	height: 25px;
	width: 355px;
	font-family: verdana, serif; 
	font-size: 18px;
	padding: 3px;
}
	

.table1 {
	position: absolute;
	top: 300px;
	border-collapse:separate; 
	table-layout: fixed;
	width: 1100px;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left:30px;
	text-align: center;
	font-family: verdana, serif; 
	font-size: 0.9em;
	}
	
/* div#info {
	margin-top: -15px;	
} */

.detailsMain {
	width: 1000px;
	position: absolute;
	margin: 120px auto;
	clear: both;
}

h1 {
	text-align: center;
	font-size: 2.0em;
}

.whiteline {
		border-top: 1.5px solid #272326;

}
div#mymap {
	height: 395px;
}

.table2 {
	border-collapse:collapse; 
	table-layout: fixed;
	width: 600px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 18px;
	
}

.h2 {
	font-size: 1.3em;	
}

.p {
	clear:both;
	width: 200px;
	
}

/*th { 
	overflow: scroll;
	border-spacing: 0px 1px; 
	color: white; 
	background: #0675ad;
	vertical-align: bottom; 
	padding: 3px; 
	border-spacing: 0px 1px; 
	}

td {
		border-bottom: 1px solid black;
		text-align: center;
		table-layout: fixed;
		height:20px;
		overflow: scroll;
}  */