/* app css stylesheet */

body {
	width: 900px;
	background-image: url("../img/image3.gif");
	background-repeat: no-repeat;
	background-position: center 20px;
	background-attachment: scroll;
}

/*div#logo {
	display: block;
	position: relative;
	 width: 510px;
	 height: 120px;

} */

ul#controls {
	list-style-type: none;
	padding: 0px;
	margin-top: 115px;
	margin-left: 300px;
}


/*iv#events {
	position: absolute;
	margin: auto 50px;
	
} */

#bar {
	float: left;
	height: 20px;
	width: 350px;
	font-size: 16px;
	margin-top: 200px auto;
	margin-right: 10px;
}
	
.button {
   border-top: 1px solid #0e0f0f;
   background: #303233;
   background: -webkit-gradient(linear, left top, left bottom, from(#161b1f), to(#303233));
   background: -webkit-linear-gradient(top, #161b1f, #303233);
   background: -moz-linear-gradient(top, #161b1f, #303233);
   background: -ms-linear-gradient(top, #161b1f, #303233);
   background: -o-linear-gradient(top, #161b1f, #303233);
   padding: 8.5px 17px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #323436;
   background: #323436;
   color: #787678;
   }
.button:active {
   border-top-color: #297296;
   background: #297296;
   }

table {
	clear: both;
	border-collapse:collapse; 
	table-layout: fixed;
	width: 1000px;
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	}

div#mytitle {
	text-align: center;
	margin-top: 120px;
	margin-bottom: 60px;
}

div#info {
		border: 1px solid #4c4c4c;  
	     border-top: 3px solid #4c4c4c;  
	     padding: 20px;
		float: left;
		width: 400px;
		height: 500px;
		overflow: scroll;
		margin-right: 30px;
}

div#mymap {
	border: 1px solid #4c4c4c;  
     border-top: 3px solid #4c4c4c;
	width: 400px;
	float: left;
	height: 500px;
	padding: 8px;
}

/*th { 
	overflow: scroll;
	border-spacing: 0px 1px; 
	color: white; 
	background: #0675ad;
	vertical-align: bottom; 
	padding: 3px; 
	border-spacing: 0px 1px; 
	}

td {
		border-bottom: 1px solid black;
		text-align: center;
		table-layout: fixed;
		height:20px;
		overflow: scroll;
} */