/* app css stylesheet */

.twitter-share-button {
	float: left;	
	margin-left: 100px;
	margin-right: 5px;
}

div#facebook {
	float: left;
	width: 60px;
}


#header {
		height: 40px;
		float: left;
		font-weight: bold;
		color: black;
		font-size: 1.2em;
		margin-top: 15px;
		margin-left: 160px;
}

#header :link {
	color: black;
	text-decoration:none;
	padding: 10px 10px;
}

#header :visited {
	color: black;
}

#header :hover {
	background: #323436;
	color: white;
}

/*.a {
	word-spacing: 30px;
}*/

body {
	font-family: serif;
	font-size: medium;
	background-image: url("../img/image3.gif");
	background-repeat: no-repeat;
	background-position: center 55px;
	background-attachment: scroll;
}

ul#controls {
	clear: both;
	float: left;
	list-style-type: none;
	padding: 0px;
	margin-top: 45px;
	margin-left: 27%;
	margin-right: 5px;
	padding:5px;
}


#bar {
	height: 20px;
	width: 355px;
	font-family: serif;
	font-size: 20px;
	padding: 5px;
}
	
.button {
   border-top: 1px solid #0e0f0f;
   background: #303233;
   background: -webkit-gradient(linear, left top, left bottom, from(#161b1f), to(#303233));
   background: -webkit-linear-gradient(top, #161b1f, #303233);
   background: -moz-linear-gradient(top, #161b1f, #303233);
   background: -ms-linear-gradient(top, #161b1f, #303233);
   background: -o-linear-gradient(top, #161b1f, #303233);
   padding: 8.5px 17px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   float: left;
   margin-top: 50px;
   }

.button:hover {
   border-top-color: #323436;
   background: #323436;
   color: #787678;
   }
.button:active {
   border-top-color: #297296;
   background: #297296;
   }

.table1 {
	clear: both;
	border-collapse:collapse; 
	table-layout: fixed;
	width: 1000px;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	}
	
/* div#info {
	margin-top: -15px;	
} */

div#mytitle {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 60px;
}

div#container {
		clear: both;
		float: left;
		border: 1px solid #4c4c4c;  
	    border-top: 3px solid #4c4c4c;
	    padding: 20px;
		width: 600px;
		height: 100%;
		margin: 200px 180px 50px;
}

div#whiteline {
		border-top: 1.5px solid #272326;

}
div#mymap {
	height: 395px;
}

.table2 {
	border-collapse:collapse; 
	table-layout: fixed;
	width: 600px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	
}

.h2 {
	font-size: 1.3em;	
}

/*th { 
	overflow: scroll;
	border-spacing: 0px 1px; 
	color: white; 
	background: #0675ad;
	vertical-align: bottom; 
	padding: 3px; 
	border-spacing: 0px 1px; 
	}

td {
		border-bottom: 1px solid black;
		text-align: center;
		table-layout: fixed;
		height:20px;
		overflow: scroll;
}  */