<div class="content">
  <div class="cols once_upon">
    <h2>Once upon a time...</h2>
    <p>...there was a boy who loved music and was always wondering who would be next to perform and hunting for the newest, freshest beats around Singapore.</p>

    <p>He would be found staring at the giant events calendar in the Esplanade, and then taking furious notes on his iPhone... or perhaps in the pub filling his pockets with all the free leaflets or postcards that are advertising music events around town.</p>

    <blockquote>
      <p><strong>"Wouldn't it be cool if someone would actually pool ALL this information together and put it up on the web in ONE place so the finding gets easier?"</strong>, he thought.</p>

      <p><strong>"You bet that'd be cool!"</strong> his angelic inner voice shrieked in delight.</p>

      <p><strong>"Ahem, but problem is, who's gonna do it?"</strong> the devil bellowed in response.</p>
    </blockquote>

    <p>And that was true.<br>
    But that boy decided to take matters into his own hands, ploughing into books upon books in his room in far, far, away East Singapore. He knew nothing about creating a website, afterall he'd only learnt numbers and theories in school; not HTML, CSS and the all mysterious Javascript.</p>

    <p>Two months on what you see here today is the humble effort of his dedication to finding a solution for something he thought would help him and hopefully others who love music.</p>

    <p>It ain't perfect, but it’s a work in progress :) <br>
    ... and hopefully some talented people out there will be inspired to join him and make it better! *hint hint*</p>

    <p>So use it, share it, love it, hate it, whatever u please. ...</p> 

    <p>And then they all lived happily ever after.</p>
  </div>

  <div class="cols about_clarence">
    <h2>About the boy</h2>
    <img src="img/clarencechanxy.png"/>
    <blockquote>
      <p><strong>"Hello there! Thanks for visiting. I hope you find good use for this site. Enjoy & Cheers!" <br><br>-Clarence</strong></p>
    </blockquote>
    
    <p>Clarence is a fresh graduate from Singapore Management University. With a passion for music, he has always wanted to make a difference in the industry. Having done stints as a Strategist at MTV Asia and overseeing Business Development at Keyboard Theatre, this project counts as his most ambitious to date.</p>
    <p>His vision is to connect the world to live music by sourcing and providing the most comprehensive information in the cleanest possible and easiest obtainable manner. With his home city Singapore as a start, Clarence plans to create a working model and take it to different cities around the world, creating one global platform you can count on for live music information.	</p>

    <p>To read more about Clarence, <a href="http://about.me/clarencechanxy" title="about Clarence Chan" target="_blank"> click here</a></p>
  </div>
</div>