<div class="headerstyle" style="clear:both; width: 700px; margin: 260px 18% 50px; position: absolute; font-family: verdana, serif; font-size: 1em; padding-bottom: 30px"> 
	
	<h1>About</h1>
	
	<h2>Once upon a time...</h2>
	
<p>Bandwagon was created in the room far far away in the East of Singapore.</p>

<p>
By a boy who just loves live music and is always wondering who's next to perform and where else he could go to hear some new stuff. </p>
<p>
U'd probably find him staring at the giant events calender at the Esplanade, notoriously typing away on his iPhone. And nope, he wasn't texting the calender.</p>

<p>Or perhaps you might spot him at a pub picking up whatever upcoming music event leaflets or postcards that are... aha..  free. :)</p>
<br>
<p>"Won't it be cool if someone would actually pool <b>ALL</b> this information together and put em up in <b>ONE</b> place so the finding gets easier?", he thought.
<br>
<br>
"You bet that'd be cool."
<br>
<br>
"Ahem, problem is, who's gonna do it?"</p> 

<p>That's true. I mean, he knew nothing about creating a website. Afterall, all he's learnt were numbers and theories, not a thing of html, css, javascript and the likes. </p>
<br>
<p>Well two months on... the boy decided to take matters into his own hands, ploughing into books upon books, talking to as many people as he could. What you see here today is the humble effort of one boy's dedication to finding a solution for something he thought would help him and hopefully others who love music. </p>

<p>It ain't perfect, but he's working on it. And hopefully some talented people out there would be inspired to join him and take it to another level. The goal isn't just to cover Singapore, but to connect the world to live music.</p> 

<p>So use it, share it, love it, hate it, whatever u please. </p>

<p>As the story goes, the boy will go on to live happily ever after.</p>

<div id="black line" style="border-top:1px solid; margin-top: 30px; margin-bottom: 50px;">

	<h2>About the boy</h2>
	
		<img id="clarencepic" src="img/clarenceBW.jpg" alt="clarence_chan_picture" style=" float:left; margin-right: 100px; margin-bottom: 30px" />
	<h3 style="width:200px; float:left; margin-top: 50px">"Hello there! Thanks for visiting. I hope you find good use for this site. Enjoy & Cheers!" -Clarence</h3>
	
	<p style="clear:both;">
	Clarence is a fresh graduate from Singapore Management University. With a passion for music, he has always wanted to make a difference in the industry. Having done stints as a Strategist at MTV Asia and overseeing Business Development at Keyboard Theatre, this project counts as his most ambitious to date. His vision is to <i>connect the world to live music</i> by sourcing and providing the most comprehensive information in the cleanest possible and easiest obtainable manner. With his home city Singapore as a start, Clarence plans to create a working model and take it to different cities around the world, creating one global platform you can count on for live music information. 
	<br>
	<br>	
	To read more about Clarence, <a href="http://about.me/clarencechanxy" alt="Clarence's about me" target="blank"> click here</a> </p>
</div>

</div>