<div class="content">
  <div class="cols once_upon">
    <h2>Once upon a time...</h2>
    <p>...there was a boy who loved music and was always hunting for the newest, freshest beats on the island and wondering who would be next to perform here.</p>

    <p>He would be found staring at the giant events calendar in the Esplanade, and then taking furious notes on his iPhone... or perhaps in the pub filling his pockets with all the free leaflets or postcards that were advertising music events around town.</p>

    <blockquote>
      <p><strong>"Wouldn't it be cool if someone would actually pool ALL this information together and put it up on the web in ONE place so the finding gets easier?"</strong>, he thought.</p>

      <p><strong>"You bet that'd be cool!"</strong></p>

      <p><strong>"But problem is, who's gonna do it?"</strong></p>
    </blockquote>

    <p>And that was true. He knew nothing about creating a website, afterall he'd only learnt numbers and theories in school; not HTML, CSS and the all mysterious Javascript.</p>
    <p>But that boy decided to take matters into his own hands, spending days reading, learning and coding. Two months on, what you see here today is the humble effort of one boy's dedication to find a solution for something he thought would help him and others who love live music.</p>

    <p>It ain't perfect, but it’s work in progress and will always be improving. So do check back regularly. And hopefully some talented people out there will be inspired to join him and make it better! The dream is to <b><i>connect the world to live music</i></b>, not just the people in Singapore and develop a <b><i>mobile version for people on the go.</b></i> </p>

    <p>So use it, share it, love it, hate it, whatever u please.</p> 

    <p>As all these "once upon a time" stories go, they all lived happily ever after.</p>
  </div>

  <div class="cols about_clarence">
    <h2>About the boy</h2>
    <img src="img/clarencechanxy.png"/>
    <blockquote>
      <p style="margin-top: 90px; text-align: center;"><strong>"Hello there! Thanks for visiting. I hope you find good use for this site. Enjoy & Cheers!" <br><br>-Clarence</strong></p>
    </blockquote>
    <br>
    <p style="clear: left;">Clarence is a fresh graduate from Singapore Management University. With a passion for music, he has always wanted to make a difference in the industry. Having done stints as a Strategist at MTV Asia and overseeing Business Development at Keyboard Theatre, this project counts as his most ambitious to date.</p>
    <p>His vision is to connect the world to live music by sourcing and providing the most comprehensive information in the cleanest possible and easiest obtainable manner. With his home city Singapore as a start, Clarence plans to create a working model and take it to different cities around the world, creating one global platform you can count on for live music information.	</p>

    <p>To read more about Clarence, <a href="http://about.me/clarencechanxy" title="about Clarence Chan" target="_blank"> click here</a></p>
  </div>
</div>