<div class="headerstyle" style="clear:both; width: 700px; margin: 260px 18% 50px; position: absolute; font-family: verdana, serif; font-size: 1em; padding-bottom: 30px"> 
	
<h1>Contribute and Contact</h1>

<p> Bandwagon needs <b>contributors</b> to our database, people who love live music and wanna connect others to it. Whether you're extremely in-touch with the scene, or just interested to lend a hand, drop us a line here.
<br>
<a href="javascript:nospam('bandwagon','bandwagon.sg','Contributor')">bandwagon [at] bandwagon.sg Title: Contributor</a>	

</p>

<div id="black line" style="border-top:1px solid; margin-top: 20px; margin-bottom: 20px;">
	
<p> If you are especially lucky to be blessed with that eye for <b>design</b>, or the ability to speak languages only known to <b>computers</b> and feel you can help further what we have here, Bandwagon would be most glad to hear from you. Click here to get in touch with us! </p>

<a href="javascript:nospam('bandwagon','bandwagon.sg','Designer')">bandwagon [at] bandwagon.sg Title: Designer</a>
<br>
<a href="javascript:nospam('bandwagon','bandwagon.sg','Coder')">bandwagon [at] bandwagon.sg Title: Coder</a>		

<div id="black line" style="border-top:1px solid; margin-top: 20px; margin-bottom: 20px;">
	
<p>For those who feel you can contribute in <b>other</b> ways, or believe in this and have the <b>pockets</b> to help further this, please click here! </p>

<a href="javascript:nospam('bandwagon','bandwagon.sg','Investor')">bandwagon [at] bandwagon.sg Title: Investor</a>
<br>
<a href="javascript:nospam('bandwagon','bandwagon.sg','Others')">bandwagon [at] bandwagon.sg Title: Others</a>
	
<div id="black line" style="border-top:1px solid; margin-top: 20px; margin-bottom: 5px;">

	<div id="black line" style="border-top:1px solid; margin-top: 2px; margin-bottom: 20px;">

<p> Bandwagon would love to hear from you. What could be done better, what you love about it, or you just wanna say hi, do so here! </p>

<a href="javascript:nospam('hello','bandwagon.sg','hello')">hello [at] bandwagon.sg</a>

</div>
