<table border="0" cellpadding="0" cellspacing="0" id="events" summary="Your list of live music gigs in Singapore">
  <thead>
    <tr>
      <th scope="column">When?</th>
      <th scope="column">Who?</th>
      <th scope="column">Where?</th>    
      <th scope="column">What?</th>
      <th scope="column">How much?</th>
      <th scope="column">Link</th>
    </tr>    
  </thead>
  <tbody>
    <tr ng:repeat="event in events.$filter(query).$orderBy(orderProp)">
      <td class="when">{{event.date}} / {{event.time}}</td>
      <td>{{event.name}}</td>
      <td>{{event.place}}</td>
      <td>{{event.genre}}</td>
      <td>{{event.price}}</td> 
      <td class="link"><a href="{{event.website}}" target="_blank">Find out &rsaquo;</a></td>
    </tr>
  </tbody>
</table>
