<div ng:controller="EventsListCtrl">

    <ul id="controls">
        <li id="search">
            <input type="text" name="query" id="bar" placeholder="Type a genre, date etc. n start finding!" style="text-size: 10px; color:grey"/>
        </li>	
    </ul>
   	

    <div id="events">
        <table summary="Your list of live music gigs in Singapore">
            <thead>
                <tr>
					<th scope="column">Date</th>
            		<th scope="column">Time</th>
					<th scope="column">Name</th>
                    <th scope="column">Place</th>    
                    <th scope="column">Genre</th>
                    <th scope="column">Price</th>
					<th scope="column">Link</th>
                </tr>    
            </thead>
            
            <tbody>
                <tr ng:repeat="event in events.$filter(query).$orderBy(orderProp)">
                    <td>{{event.date}}</td>
				   	<td>{{event.time}}</td>
					<td>{{event.name}}</td>
					<td>{{event.place}}</td>
                    <td>{{event.genre}}</td>
                    <td>{{event.price}}</td> 
					<td><a href="{{event.website}}" target="_blank">See more</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>