<table border="0" cellpadding="0" cellspacing="0" id="events" summary="Your list of live music gigs in Singapore">
  <thead>
    <tr>
      <th scope="column"><!-- <a href="" class="sortable" ng:click="sort = 'date'; reverse=!reverse"> -->When?<!-- </a> --></th>
      <th scope="column"><a href="" class="sortable" ng:click="sort = 'name'; reverse=!reverse">Who?</a></th>
      <th scope="column"><a href="" class="sortable" ng:click="sort = 'place'; reverse=!reverse">Where?</a></th>    
      <th scope="column" class="what"><a href="" class="sortable" ng:click="sort = 'genre'; reverse=!reverse">What?</a></th>
      <th scope="column">How much?</th>
      <th scope="column">Link</th>
    </tr>    
  </thead>
  <tbody ng:controller="Main">
    <tr ng:repeat="event in events.$filter(filter).$orderBy(sort, reverse)">
      <td class="when" ng:click="_gaq.push(['_trackEvent', 'event', 'date', event.date]);">{{event.date}} / {{event.time}}</td>
      <td ng:click="_gaq.push(['_trackEvent', 'event', 'name', event.name]);">{{event.name}}</td>
      <td ng:click="_gaq.push(['_trackEvent', 'event', 'place', event.place])">{{event.place}}</td>
      <td class="what" ng:click="_gaq.push(['_trackEvent', 'event', 'genre', event.genre]);">{{event.genre}}</td>
      <td ng:click="_gaq.push(['_trackEvent', 'event', 'price', event.price]);">{{event.price}}</td> 
      <td class="link"><a href="{{event.website}}" target="_blank" ng:click="_gaq.push(['_trackEvent', 'event', 'website', event.website]);">more info &rsaquo;</a></td>
    </tr>
  </tbody>
</table>

