<div id="logo">
</div>	

<div ng:controller="EventsListCtrl">
    
    <ul id="controls">
        <li id="search">
            <input type="text" name="query" id="bar"/>
        </li>
		<br />

    </ul>
    
    <div id="events">
        <table summary="Your list of live music gigs in Singapore">
            <thead>
                <tr>
                    <th scope="column">Date</th>
                    <th scope="column">Day</th>    
                    <th scope="column">Place</th>
                    <th scope="column">Artiste</th>
                    <th scope="column">Genre</th>
					<th scope="column">Time</th>
                    <th scope="column">Price</th> 
                </tr>    
            </thead>
            
            <tbody>
                <tr ng:repeat="event in events.$filter(query).$orderBy(orderProp)">
                    <td>{{event.date}}</td>
					<td>{{event.day}}</td>
                    <td><a href="#/place/{{event.place}}">{{event.place}}</a></td>
                    <td><a href="#/artiste/{{event.artiste}}">{{event.artiste}}</a></td>
                    <td>{{event.genre}}</td>
                    <td>{{event.time}}</td>
                    <td>{{event.price}}</td>         
                </tr>
            </tbody>
        </table>
    </div>
	
	
	<div ng:show="list"><div ng:repeat="events"></div>
	<div ng:hide="list"> Whoops. No items found.</div>


</div>