<div class="content">

<div class="cols" style="width: 50%;">
  <div class="sub-col">
    <h2>I know this guy with a guitar...</h2>
    <p>Know of an upcoming gig that you think we should know about? Starting up a new event at your Uni/Cafe/School?
    Let us know and if we like the sound of it we’ll add it to the database!</p>
    <p><a href="javascript:nospam('bandwagon','bandwagon.sg','Gigs')">bandwagon [at] bandwagon.sg</a></p>
  </div>
  
  <div class="sub-col">
    <h2>I know all the guys with guitars and the girls too!</h2>
    <p>Bandwagon needs people who love live music and wanna connect others to it, to help keep our database fresh and up to date.</p>
    <p>Whether you're extremely in-­touch with the scene, or just interested to regularly lend a hand, drop us a line here:</p>
    <p><a href="javascript:nospam('bandwagon','bandwagon.sg','Contributor')">bandwagon [at] bandwagon.sg Title: Contributor</a></p>
  </div>
  
  <div class="sub-col">
    <h2>Work with us</h2>
    <p>If you are especially lucky to be blessed with that eye for design, or the ability to speak languages only known to computers and feel you can help further what we have here, Bandwagon would be most glad to hear from you. Please get in touch with us, citing the relevant subject title in your email!</p>
    <p>
      <a href="javascript:nospam('bandwagon','bandwagon.sg','Designer')">bandwagon [at] bandwagon.sg Title: Designer</a>
      <br>
      <a href="javascript:nospam('bandwagon','bandwagon.sg','Coder')">bandwagon [at] bandwagon.sg Title: Coder</a>
    </p>
    <p>For those who feel you can contribute in other ways, or believe in this and have the pockets to help further this, please email us at one of the following:</p>
    <p>
      <a href="javascript:nospam('bandwagon','bandwagon.sg','Investor')">bandwagon [at] bandwagon.sg Title: Investor</a>
      <br>
      <a href="javascript:nospam('bandwagon','bandwagon.sg','Others')">bandwagon [at] bandwagon.sg Title: Others</a>
    </p>
  </div>
  
  <div class="sub-col">
    <h2>I know all the guys with guitars and the girls too!</h2>
    <p>Even if none of the above applies to you Bandwagon would still love to hear from you.</p>
    <p>We like to chat and all feedback is appreciated! Let us know what could be done better, what you think works well, what we should do more of... or even just tell us about your new favourite</p>
    <p><a href="javascript:nospam('bandwagon','bandwagon.sg','Hello')">bandwagon [at] bandwagon.sg</a></p>
  </div>
</div>

  <div class="cols" style="width: 49%; margin-right:0;">
    <img class="join_us" src="img/joinus1.jpg"/>
    <img class="join_us" src="img/joinus2.jpg"/>
    <img class="join_us" src="img/joinus3.jpg"/>
    <img class="join_us" src="img/joinus4.jpg"/>
  </div>


