<div>
	
<div id=mytitle>
	<h1>{{params.place}}</h1>
</div>
	
	<ul id="controls">
        <li>
            Search: <input type="text" name="query" />
        </li>
        <li>
            Sort by:
            <select name="orderProp">
        		<option value="date">Date</option>
                <option value="genre">Genre</option>
            </select>
        </li>
    </ul>

<div id="info">
	<h2>Where is it?</h2> 
		<p> Address: {{places[params.place].address}}</p>
		<p> Postal code: {{places[params.place].postal}}</p>
		<p> Tel: {{places[params.place].tel}}</p>
		
	<br />
	
	<h2>About this place</h2>
		<p> {{place.details}}</p>		
</div>

<div id="map">
	<h1>Map</h1>
	<ui:map style="height:300px;width:400px;border:2px solid #777777;float:left;margin:3px;" ui:options="{center:{lat:50,lng:60}, bindZoom:true, bindMapType:true}" ui:pin="maps.map.point" ui:view="maps.map.view"></ui:map>
	
</div>

<div id="event" ng:controller="EventsListCtrl">
    <table summary="Your list of live music gigs in Singapore">
        <thead>
            <tr>
                <th scope="column">Date</th>
                <th scope="column">Day</th>    
                <th scope="column">Artiste</th>
                <th scope="column">Genre</th>
				<th scope="column">Time</th>
                <th scope="column">Price</th>
                <th scope="column">Description</th>    
            </tr>    
        </thead>
        
        <tbody>
            <tr ng:repeat="event in events.$filter({place: params.place}).$orderBy(orderProp)">
                <td>{{event.date}}</td>
		 		<td>{{event.day}}</td>
                <td><a href="#/artiste/{{event.artiste}}">{{event.artiste}}</a></td>
                <td>{{event.genre}}</td>
                <td>{{event.time}}</td>
                <td>{{event.price}}</td>
                <td>{{event.description}}</td>            
            </tr>
        </tbody>
    </table>
</div>
</div>

<script src="http://code.angularjs.org/0.9.18/angular-0.9.18.min.js" ng:autobind></script>