<div>
<div id="mytitle">
	<h1>{{params.place}}</h1>
</div>

<div id="container">
<div id="info">
	<h2>Where is it?</h2> 
		<p> Address: {{places[params.place].address}}</p>
		<p> Postal code: {{places[params.place].postal}}</p>
		<p> Tel: {{places[params.place].tel}}</p>
		
	<div id="whiteline"></div>
	<h2>About this place</h2>
		<p> {{places[params.place].details}}</p>		
</div>

	<div id="whiteline"></div>
<div id="mymap">
	<h2>Map</h2>
	<ui:map style="height:300px;width:350px;border:2px solid #777777;float:left;margin:3px;" ui:options="{center:{lat:1.3,lng:103}, bindZoom:true, bindMapType:true}"  ui:lat="{{places[params.place].latitude}}" ui:pin="maps.map.pin" ui:view="maps.map.view"></ui:map>	
</div>

<div id="whiteline"></div>
<h2>What's happening</h2>
<div id="event" ng:controller="EventsListCtrl">
    <table class="table2" summary="Your list of live music gigs in Singapore">
        <thead>
            <tr>
                <th scope="column">Date</th>
                <th scope="column">Day</th>    
                <th scope="column">Artiste</th>
                <th scope="column">Genre</th>
				<th scope="column">Time</th>
                <th scope="column">Price</th>
                <th scope="column">Description</th>    
            </tr>    
        </thead>
</div>
        
        <tbody>
            <tr ng:repeat="event in events.$filter({place: params.place}).$orderBy(orderProp)">
                <td>{{event.date}}</td>
		 		<td>{{event.day}}</td>
                <td><a href="#/artiste/{{event.artiste}}">{{event.artiste}}</a></td>
                <td>{{event.genre}}</td>
                <td>{{event.time}}</td>
                <td>{{event.price}}</td>
                <td>{{event.description}}</td>            
            </tr>
        </tbody>
    </table>
</div>





</div> 




<script src="http://code.angularjs.org/0.9.18/angular-0.9.18.min.js" ng:autobind></script>